<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/tailwind.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link id="bs-css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link id="bsdp-css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

  <title>
      When is Sunrise?
  </title>
  <style>
        @keyframes spinner {
        to {transform: rotate(360deg);}
        }
        
        .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
        border: 1px solid #ccc;
        border-top-color: #07d;
        animation: spinner .6s linear infinite;
        }
  </style>
</head>
<h1 class="text-lg text-center text-orange-400 text-6xl font-semibold tracking-wider antialiased">Sunrise/Sunset Tool</h1>
<form class="w-full max-w-lg container mx-auto">
    <div class="flex flex-wrap">
        <div class="w-full">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                Date
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="date" name="date" type="date">
        </div>
        <div class="w-full">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Location
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" id="location" name="location" placeholder="London">
        </div>
        <div class="w-full py-6">
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" id="gtw">Find out sunrise</button>
        </div>
        <div class="w-full" id="result">
        </div>
    </div>
</form>

<!--
<div class="container mx-auto">
    <label>Date</label>
    <div id="dateinput" class="object-center">
        <div class="input-daterange" id="datepicker">
            <input type="text" class="input-sm form-control object-center" name="date" id="date" />
        </div>
    </div>  
</div>

<div class="container mx-auto">
    <label style="width: 100%;">Location</label>
    <input type="text" class="input-sm form-control" id="location" name="location">
</div> 
//-->        
    
<script>
    $(document).ready(function () {
        $('#dateinput .input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true
        });
        
        $('#gtw').click( function() 
            {
                var data ={};
                data['location'] = $('#location').val();
                data['date'] =  $('#date').val();
                
                $('#result').empty();
                $('#result').addClass('spinner');
            
                $.ajax({
                    type : "POST",
                    url : "{{ url_for('ezw') }}",
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(result) 
                    {
                        $('#result').removeClass('spinner');
                        $('#result').html(result);
                    }        
                });                
            }); 
        });        
</script>

</html>
