<div class="row">
    <div class="col-md-6">
        <h4>Location: {{ area }}</h4>
    </div>        
</div>
{% for report in reports %}
<div class="row">
    <div class="col-md-6">
            <div class="well">
            <div class="row">
                <div class="col-xs-9">
                <b>Date:</b> {{ report.date }}<br/>
                <b>Sunrise:</b> {{ report.sunrise }}<br/>
                <b>Sunset:</b> {{ report.sunset }}<br/>
                </div>
            </div>  
            </div>
    </div>
</div>
{% endfor %}